.git
.next
node_modules
workers/**/node_modules
workers/**/.node-persist
workers/**/sessions
workers/**/_IGNORE_*
workers/**/logs
coverage
build
out
.env
.env.*
!.env.example
!.env.docker.example
!.env.novacloud.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
